#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    margin-top:150px;
    background-color: rgb(20, 21, 21);
    height:510px;
    width:350px;
    color:red; 
    border-radius: 10px;    
}

input{
    background-color: rgb(81, 172, 81);
    height:80px;
    width:86%;
    margin:15px;
    margin-bottom:5px;
    outline:none;
    font-size: 60px;
    padding-right: 8px;
    text-align: right;
    border-radius: 10px;
}

button{
    margin:20px 22px 0px 0px;
    height:55px;
    width:57px;
    outline:none;
    font-size: 21px;
    font-weight: 600;
    border-radius: 10px;
}
.column1 {
    margin-left: 20px;
}

#equal{
    background-color:orangered
}
.operator {
    background-color: rgb(130, 174, 65);
    font-weight: 800;
}